version: '3.3'

networks:
  magento:
    driver: bridge
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    ports:
      - 8080:80
    links:
      - php-fpm
      - db
      - elasticsearch
    depends_on:
      - php-fpm
      - db
      - elasticsearch
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../magento2:/var/www/html/magento2
    networks:
      - magento

  php-fpm:
    image: dmiseev/php-fpm7.3
    container_name: php
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    depends_on:
      - db
      - elasticsearch
    volumes:
      - ./docker/php/php.ini:/etc/php/7.3/fpm/php.ini
      - ./docker/php/php_cli.ini:/etc/php/7.3/cli/php.ini
      - ../magento2:/var/www/html/magento2
    networks:
      - magento

  db:
    image: mysql:8.0
    restart: always
    container_name: mysql
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - 3307:3306
    networks:
      - magento

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.3
    container_name: es01
    environment:
      - http.port=9200
      - "ES_JAVA_OPTS=-Xms128m -Xmx128m"
      # - network.host= 127.0.0.1
      - network.bind_host=0.0.0.0
      - http.cors.enabled=true
      - http.cors.allow-origin= "*"
      - transport.host=127.0.0.1
      - transport.tcp.port=9300
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - magento


  